<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>$title$</title>
</head>
<body>
  <article>
    <header>
      <h1>$title$</h1>
    </header>
    <section>
        <p>
          Welcome to my website! Here you'll find articles about life and stuff,
          tech, books, and more!
        </p>
    </section>
    <h5>Check out my articles by category:</h5>
    $body$
  </article>
</body>
</html>
